/* 背景颜色 */
.bg-default {
  background-color: #F2F2F2
}

.bg-white {
  background-color: #ffffff
}

.bg-2c {
  background-color: #2c2c2c
}

.bg-d9d4fc {
  background-color: #d9d4fc 
}

.bg-ba60f8 {
  background-color: #ba60f8
}

.bg-ff8c00 {
  background-color: #ff8c00
}

.bg-fff154 {
  background-color: #fff154
}

.bg-d7a8f8 {
  background-color: #d7a8f8
}

.bg-b960f6 {
  background-color: #b960f6
}

.bg-01706C {
  background-color: #01706C
}

.bg-01706C-opacity {
  background-color: rgba(1,112,108,0.3)
}

.bg-e6e6e6-opacity {
  background-color: rgba(230,230,230,0.8)
}

/* 字体颜色 */
.color-font-white {
  color: #ffffff
}

.color-font-grey {
  color: #929292
}

.color-font-2c {
  color: #2c2c2c
}

.color-font-c {
  color: #cccccc
}

.color-font-e6 {
  color: #e6e6e6
}

.color-d8d4 {
  color: #d8d4
}

.color-5840A9 {
  color: #5840a9
}

.color-wrong {
  color: #ff0000
}

.color-font-fff154 {
  color: #fff154
}

.color-right {
  color: #ff8c00
}

.color-343b7f{
  color: #343b7f
}

/* 边框颜色 */
.border-color-default {
  border-color: #f2f2f2
}

.border-color-white {
  border-color: #ffffff;
}

.border-color-c682f6 {
  border-color: #c682f6
}

.border-color-b960f6 {
  border-color: #b960f6;
}
