.g_hover {
  border: 1px solid #2B9939;
  box-shadow: 0px 0px 20px rgba(43, 153, 57, .3);
}

.r_hover {
  border: 1px solid #fc6f19;
  box-shadow: 0px 0px 74px rgba(255, 170, 102, .3);
}

.img_hover {
  border: 1px solid #ccc;
  box-shadow: rgb(170, 170, 170) 0px 0px 14px 0px;
}

.all_round_shadow {
  box-shadow: 0 1px 7px 4px #ecf0f5;
}

.order_round_shadow {
  border: .013333rem solid rgba(237,240,247,.7);
  box-shadow: 0 0.08rem 0.4rem 0 rgba(206,223,241,.4);
}

.xdf_green {
  color: #00896C
}

.xdf_yellow {
  color: #F7AB00
}

.color_success {
  color: #2B9939
}

.color_danger {
  color: #c51d39
}

.color_warning {
  color: #fc6f19
}

.color_primary {
  color: #409eff
}

.color_default {
  color: #04386f
}

/*一级标题*/
.fontColor1 {
  color: #333
}

.fontColor2 {
  color: #666
}